# Firebase Cloud Database Configuration
VITE_FIREBASE_API_KEY=AIzaSyBGS87_xyloZQtJW184ZtEKLqNCiLKfeK4
VITE_FIREBASE_AUTH_DOMAIN=zk-rehab-sphere.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=zk-rehab-sphere
VITE_FIREBASE_STORAGE_BUCKET=zk-rehab-sphere.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=26968015783
VITE_FIREBASE_APP_ID=1:26968015783:web:2698474b06f31f3a196c82
VITE_FIREBASE_MEASUREMENT_ID=G-B0YM9LWBYL

# Cloudinary Unsigned Image Hosting Credentials
VITE_CLOUDINARY_CLOUD_NAME=dhyeoatvi
VITE_CLOUDINARY_API_KEY=578765569697887
VITE_CLOUDINARY_UPLOAD_PRESET=ml_default
